<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="d0eq-zu57nNbJ5cyMOc_Ssf2mndiSuTug41bLOW9J-M" />
    <title>Default</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body id="body">

<!--REQ FLASH EXAMPLE -->
{{#if example}}
 <div  class="loginAlert">
      <p>{{example}}</p>
</div>
{{/if}}



{{{body}}}


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>AOS.init()</script>

<script src="https://kit.fontawesome.com/a0f5e13c8c.js" crossorigin="anonymous"></script>
 
    
</body>
</html>